<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <script src="scripts/require.js"></script>

    <script>
        // configure requireJS
        require.config(
            {
                paths:
                {
                    'modules/../../NovaBurst.ModularTypeScript.Core.UI': '.',
                    'modules/../../NovaBurst.ModularTypeScript.Person.UI': '.',
                    'modules/../../NovaBurst.ModularTypeScript.Sales.UI': '.',
                    'modules/../../NovaBurst.ModularTypeScript.Front.UI': '.',
                    'scripts/jquery': 'scripts/jquery-2.1.1'
                }
            });

        require(['modules/Front/ModuleInit'],
            // success
            function () { },
            // error
            function () { });
    </script>
</body>
</html>
